<article class="columns">
    {% if lang == 'pt' %}
    <h2 style="break-before: avoid;">Sumário Executivo</h2>
    <section>                    
        <p>Diariamente, milhões de pessoas produzem dados de seu cotidiano nas cidades ao redor do mundo através de seus dispositivos eletrônicos conectados à Internet. O acesso a esse massivo volume de dados torna possível conhecer a dinâmica de uma cidade em seus mais diversos aspectos: mobilidade, saúde, segurança, etc.</p>            
        <p>Em parceria com o Waze, uma das maiores plataformas de mobilidade do mundo, podemos analisar um conjunto de dados das cidades participantes do Projeto Big Data para o Desenvolvimento Urbano e Sustentável a fim de se planejar políticas públicas eficientes que consideram a perspectiva do cidadão.</p>
        <p>O presente relatório visa destacar as ocorrências mais relevantes durante a última semana, mostrando as ruas com maior interação dos usuários por alertas de engarrafamento, acidentes, buracos, semáforos defeituosos e enchentes, além de indicar o valor das mesmas vias na semana anterior e sua variação. 
</p>        
    {% elif lang == 'es' %}    
        <p></p>
    {% endif %}
    </section>
</article>