<div class="img">
    <img src="{{ images[alert] }}">
    {% set df = df_table %}
    {% if lang == 'pt' %}
    <p class="underImg">A imagem mostra o mapa de calor de todo os alertas no período e destaca os trechos das ruas que concentraram a maior quantidade de interações. <a href="{{ mapLinks[alert] }}">Clique aqui</a> para uma versão interativa do mapa.</p>
    
    {% elif lang == 'es' %}    
    <p class="underImg">La imagen muestra el mapa de calor de todas las alertas del período y destaca los tramos de las calles que concentraron mayor cantidad de interacciones. <a href="{{ mapLinks[alert] }}">Haga clic aquí</a> para una versión interactiva del mapa.</p>
    {% endif %}
    
</div>