<h2>{{ query | replace('_', " ") }}</h2>
    
<table class="alert">
  <tr>
  	<th rowspan="2">STREET</th>
    <th colspan="1">{{date_s1}}</th>
    <th colspan="1">{{date_s2}}</th>
    <th rowspan="2">REPORTS DIFF</th>
  </tr>
  <tr>  	
    <th>% TOTAL INTERACTIONS</th>
    <th>% TOTAL INTERACTIONS</th>
  </tr>
      
    {% for idx, row in df.iterrows() %}
        {% if row['variation'] is string %}
            <tr class="ok">
        {% elif row['variation'] >= 1 %}
            <tr class="bad">
        {% elif row['variation'] < -0.1 %}
            <tr class="good">
        {% else %}
            <tr class="ok">
        {% endif %}
                
        {% set i = loop.index %}
        {% for colname in df.columns %}
            {% if row[colname] == "" %}
                <td>  -  </td>
            {% elif colname == 'street' %}
                <td class="street">{{ i }}. {{ row[colname] }}</td>
            {% elif colname == 'variation' or colname == 'share_of_total_interactions_s1' or colname == 'share_of_total_interactions_s2' %} 
                <td>{{ "{:.2%}".format(row[colname]) }}</td>                
            {% else %}
                <td>{{ "{:.0f}".format(row[colname]) }}</td>
            {% endif %}
        {% endfor %}
    </tr>

    {% endfor %}
  
</table>
